bright-blue = #45d9fd
light-blue = #8FDEF2
white-color = #F4F4F4
accent-color = #EE2560
text-color = #08182b
white-background = #fafafa
shadow-color = rgba(187, 187, 187, .5)

body
	margin 0
	padding 0
	box-sizing border-box
	overflow hidden
	font-family "Helvetica Neue", Helvetica, Verdana, sans-serif
	#container
		/* Specific to the flex row in the container ? (should be) */
		div:first
			height: 100vh
	#sidebar
		flex 0 1 18%
		background-color white-color
		height 100vh
		display flex
		flex-flow column
		color white
		font-family Bangers
		font-size 1.3em
		letter-spacing .1em
		#profileInfo
			margin .5em
			align-items center
			justify-content space-around
			flex-flow column
			#imgcontainer
				padding 0
				margin 0
				width: 50%
				img
					width: 100%

			div:not(#imgcontainer)
				display flex
				flex 0 1 auto
				flex-flow column-reverse nowrap
				align-items center
				margin 0 .5em
			.nameContainer
				text-align center
				background-color accent-color
				padding .3em .1em
				box-shadow .3em .3em 0 0 shadow-color
			#surname
				margin-top .8em !important
				transform skewX(30deg) rotate(5deg) scale(1.1) translateY(-5px)
				span
					display block
					transform rotate(-5deg) skewX(-30deg) scale(0.9)
			/* Reverse transform to straighten the text in the span */
			#realname
				padding .5em .5em
				margin-bottom .5em !important
				transform skewX(-20deg) rotate(-5deg)
				span
					display block
					transform rotate(5deg) skewX(20deg)
		#navbar
			margin-top 1em
			display flex
			flex-flow column
			align-content stretch
			line-height 3em
			a
				/* Have to force color on A otherwise it won't be styled */
				color white
				background-color light-blue
				text-decoration none
				padding-left 1.5em
			.active
				background-color bright-blue
				transform-style preserve-3d
				transform-origin left center
				animation-duration 100ms
				animation-name testIn
				animation-timing-function ease-out
				box-shadow .1em .11em 0 0 shadow-color
				animation-fill-mode forwards
				font-weight bold

		#socnet
			background-color accent-color
			width 100%
			align-self center
			margin-top auto
			a
				color white
				display flex
				border none
				text-decoration none
				font-weight bold
				margin-top: .2em
				vertical-align super
				padding-left 10%
			img
				width 1.5em
				height 1.5em
				vertical-align bottom
			span
				margin-top 0.2em

	main
		display flex
		flex 1 1 80%
		padding 0 5%
		align-content center
		color text-color
		background-color white-background
		overflow auto
		.project-card
			width 20em
			text-align justify
			background-color white
			padding 1em;
			border double 1px accent-color
			img
				width 30%
				float left
				margin 0 1em 0 0
				box-shadow 3px 4px 0 0 rgba(187, 187, 187, .5)
		a
			color text-color
			padding .3em
		a:hover
			color white-color
			background-color accent-color

/* class definitions */
.flexRow
	display flex
	flex-flow row


@keyframes testIn {
	from {
		transform perspective(.9em) rotateY(0deg) scaleX(1)
	}

	to {
		transform perspective(.9em) rotateY(-0.3deg) scaleX(1)
	}
}
