body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}
body #container div:first {
  height: 100vh;
}
body #sidebar {
  flex: 0 1 18%;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-flow: column;
  color: #fff;
}
body #sidebar #profileInfo {
  margin: 0.5em;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
/* Reverse transform to straighten the text in the span */
}
body #sidebar #profileInfo #imgcontainer {
  padding: 0;
  margin: 0;
  width: 50%;
}
body #sidebar #profileInfo #imgcontainer img {
  width: 100%;
}
body #sidebar #profileInfo div:not(#imgcontainer) {
  display: flex;
  flex: 0 1 auto;
  flex-flow: column-reverse nowrap;
  align-items: center;
  margin: 0 0.5em;
}
body #sidebar #profileInfo .nameContainer {
  text-align: center;
  background-color: #ee2560;
  padding: 0.3em 0.1em;
  box-shadow: 0.3em 0.3em 0 0 rgba(187,187,187,0.5);
}
body #sidebar #profileInfo #surname {
  margin-top: 0.8em !important;
  transform: skewX(30deg) rotate(5deg) scale(1.1) translateY(-5px);
}
body #sidebar #profileInfo #surname span {
  display: block;
  transform: rotate(-5deg) skewX(-30deg) scale(0.9);
}
body #sidebar #profileInfo #realname {
  padding: 0.5em 0.5em;
  margin-bottom: 0.5em !important;
  transform: skewX(-20deg) rotate(-5deg);
}
body #sidebar #profileInfo #realname span {
  display: block;
  transform: rotate(5deg) skewX(20deg);
}
body #sidebar #navbar {
  margin-top: 1em;
  display: flex;
  flex-flow: column;
  align-content: stretch;
  font-size: 1.2em;
  line-height: 3em;
}
body #sidebar #navbar a {
/* Have to force color on A otherwise it won't be styled */
  color: #fff;
  background-color: #8fdef2;
  text-decoration: none;
  padding-left: 1.5em;
}
body #sidebar #navbar .active {
  background-color: #45d9fd;
  transform-style: preserve-3d;
  transform-origin: left center;
  animation-duration: 100ms;
  animation-name: testIn;
  animation-timing-function: ease-out;
  box-shadow: 0.1em 0.11em 0 0 rgba(187,187,187,0.5);
  animation-fill-mode: forwards;
  font-weight: bold;
}
body #sidebar #socnet {
  background-color: #ee2560;
  width: 100%;
  align-self: center;
  margin-top: auto;
}
body #sidebar #socnet a {
  color: #fff;
  display: flex;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 0.2em;
  vertical-align: super;
  padding-left: 10%;
}
body #sidebar #socnet img {
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
}
body #sidebar #socnet span {
  margin-top: 0.2em;
}
body main {
  display: flex;
  flex: 1 1 80%;
  padding: 0 5%;
  align-content: center;
  color: #08182b;
  background-color: #fafafa;
  overflow: auto;
}
body main .project-card {
  width: 20em;
  text-align: justify;
  background-color: #fff;
  padding: 1em;
  border: double 1px #ee2560;
}
body main .project-card img {
  width: 30%;
  float: left;
  margin: 0 1em 0 0;
  box-shadow: 3px 4px 0 0 rgba(187,187,187,0.5);
}
body main a {
  color: #08182b;
  padding: 0.3em;
}
body main a:hover {
  color: #f4f4f4;
  background-color: #ee2560;
}
/* class definitions */
.flexRow {
  display: flex;
  flex-flow: row;
}
@-moz-keyframes testIn {
  from {
    transform: perspective(0.9em) rotateY(0deg) scaleX(1);
  }
  to {
    transform: perspective(0.9em) rotateY(-0.3deg) scaleX(1);
  }
}
@-webkit-keyframes testIn {
  from {
    transform: perspective(0.9em) rotateY(0deg) scaleX(1);
  }
  to {
    transform: perspective(0.9em) rotateY(-0.3deg) scaleX(1);
  }
}
@-o-keyframes testIn {
  from {
    transform: perspective(0.9em) rotateY(0deg) scaleX(1);
  }
  to {
    transform: perspective(0.9em) rotateY(-0.3deg) scaleX(1);
  }
}
@keyframes testIn {
  from {
    transform: perspective(0.9em) rotateY(0deg) scaleX(1);
  }
  to {
    transform: perspective(0.9em) rotateY(-0.3deg) scaleX(1);
  }
}
