body {
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

.active {
    background-color: #45d9fd !important;
    transform-style: preserve-3d;
    transform-origin: left center;
    animation-duration: 50ms;
    animation-name: testIn;
    animation-timing-function: ease-out;
    box-shadow: 5px 6px 0 0 rgb(187, 187, 187);
    animation-fill-mode: forwards;
    font-weight: bold;
}

@keyframes testIn {
    from {
        transform: perspective(1em) rotateY(0deg) scaleX(1);
    }

    to {
        transform: perspective(1em) rotateY(-0.3deg) scaleX(0.95);
    }
}